
<div class="continer-fluid">
  <div col-md-6>
  <form class="register" method="POST" action="/register">
    <h1>Join Rockstergram</h1>
    <div class= "form-group">
      <label class="reg"for="username">Username</label>
      <input class="form-control" type="text" name="username" id="username" >
    </div>
    <div class= "form-group">
      <label class="reg"for="email">Email</label>
      <input class= "form-control" type="email" name="email" id="email">
    </div>
    <div class= "form-group">
      <label class="reg"for="password">Password</label>
      <input class= "form-control" type="password" name="password" id="password">
    </div>
    <div class= "form-group">
      <label class="reg"for="passwordConfirmation">Password Confirmation</label>
      <input class= "form-control" type="password" name="passwordConfirmation" id="passwordConfirmation">
    </div>

    <button class="btn btn-outline-primary">Register</button>
  </form>
</div>
</div>
