<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project-2</title>
    <% include ./partials/stylesheets %>
  </head>
  <body>
    <main class="container">
      <% for(const type in messages) { %>
        <div class="alert alert-<%= type %>">
          <div class="container">
            <%= messages[type] %>
          </div>
        </div>
      <% } %>
      <%- body %>
    </main>
    <% include ./partials/scripts %>
  </body>
  </body>
</html>
