<h1>Rocks/new</h1>
<h2>This is the uploads page</h2>
<form method="POST" action="/rock/images/new" enctype="multipart/form-data">
  <div>
    <label for="filename">Image file</label>
    <input type="file" name="filename" id="filename">
  </div>
  <div>
    <label for="caption">Caption</label>
    <textarea name="caption" id="caption"></textarea>
  </div>
  <button>Add</button>
</form>
