<h1>Rocks/new</h1>
<h2>This is the uploads page</h2>
<%if(locals.message) { %>
<p><%= message %></p>
<% } %>
<form method="POST" action="/rocks" enctype="multipart/form-data">
  <input type="hidden" name="lat">
  <input type="hidden" name="lng">
  <div class="form-group">
    <label for="name" class="col-sm-2 col-form-label">Picture Title</label>
    <input type="text" name="name" id="name" class="form-control">
  </div>
  <div class="form-group">
    <label for="location">Location</label>
    <input id="location" class="autocomplete form-control">
  </div>
  <div class="form-group">
    <label for="category" class"col-sm-2-col-form-label">Picture Category</label>
    <select name="category" class="form-control">
      <option value="structure">Structures</option>
      <option value="sedimentary">Sedimentary</option>
      <option value="igneous">Igneous</option>
      <option value="metamorphic">Metamorphic</option>
      <option value="misc">Everything Else!</option>
    </select>
  </div>
  <div class="form-group">
    <label for="caption">Caption</label>
    <textarea name="image[caption]" id="caption" class="form-control"></textarea>
  </div>
  <div class="form-control-file">
    <label for="filename">Image file</label>
    <input type="file" name="image[filename]" id="filename" class="form-control">
  </div>
  <button class="btn btn-outline-primary">Add</button>
</form>
