<nav>
  <% include ../partials/navbar %>
</nav>

<style>
h1 {
  text-align: center;
}
</style>

<h1>500: Internal Server Error</h1>

<h2><%= err.message %></h2>

<% if(locals.err.stack) { %>
<pre>
  <%= err.stack %>
</pre>
<% } %>

<iframe src="//giphy.com/embed/xTiN0udZN5LDJU0AOQ?html5=true" width="960" height="492" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/oscars-academy-awards-oscars-2017-xTiN0udZN5LDJU0AOQ">via GIPHY</a></p>
