

<div class="hero-container container-fluid">
  <h1 class="display-3">Rockstagram</h1>
<div id = "loginform" class="form-group">
    <form method="POST" action="/login" class= "login">
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="text" name="email" id="email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password" >
      </div>
      <div id="buttons">
        <button class="btn btn-outline-primary">Login</button>
        </form>
        <a class="btn btn-block btn-social btn-facebook" href="<%= oauth.facebook.getLoginURL() %>">
         <span class="fa fa-facebook"> Sign in with Facebook</span>
        </a>
        <a class="btn btn-block btn-social btn-github"  href="<%= oauth.github.getLoginURL() %>">
        <span class="fa fa-github"> Sign in with Github</span>
        </a>
        <form method="GET" action="/register">
        <button class="btn btn-outline-primary">Join Rockstagram</button>
        </form>
    </div>
  </div>
</div>
<footer>
  <% include ../partials/footer %>
</footer>
