<h1>Litho-Gram</h1>
<h1>Its the Schist</h1>
<h2>statics/index</h2>

<h1>Login</h1>
<h2>sessions/new</h2>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Rock-ster-gram</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

<form method="POST" action="/rocks">
  <div>
    <label for="email">Email</label>
    <input type="text" name="email" id="email" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
  </div>

  <button class="button">Login</button>
</form>

<form method="GET" action="/registrations">
  <button class="button">Join GeoGram</button>
</form>
