<h1>Litho-Gram</h1>
<h1>Its the Schist</h1>
<h2>statics/index</h2>

<h1>Login</h1>
<h2>sessions/new</h2>

<form method="POST" action="/rocks">
  <div>
    <label for="email">Email</label>
    <input type="text" name="email" id="email" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
  </div>

  <button class="button">Login</button>
</form>
