// @import"bootstrap/bootstrap-social";
$barscolor: rgba(36, 103, 204, 0.8);
$hovercolor: rgb(240, 242, 176);
$textcolor: darkslategrey;

///global styles -----------------------------
*{
  font-family: 'Lato', sans-serif
}

h1{
  font-size: 30px;
  color: $textcolor;
}
h2 {
  font-size: 20px;
  color: $textcolor;
}
h3 {
  font-size: 15px;
  color: $textcolor;
}

p{
  font-size:12px;
  color: $textcolor;
}
a{
  font-size:20px;
  color: $textcolor;
}
h5{
  font-size: 17px;
}

.btn {
  background-color: rgba(255,255,255, 0.8);
  color: $textcolor;
  border: 2px solid $textcolor;

  &:hover {
    background-color: $hovercolor;
    color: darkred;
    border: 2px solid darkred;
  }
}
label {
  font-size: 20px;
  color:white;
}


//landing page-----------------------------------------
.hero-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/assets/images/hero.jpg');
  background-position: center;
  background-size: cover;
  position:relative;
  height: 90vh;
  h1 {
    position:absolute;
    margin-left: 10px;
    font-family: 'Shrikhand', cursive;
    color: white;
     -webkit-text-stroke: 1px grey;

   }
}
#loginform {
  width: 250px;
  display: block;
  position: fixed;
  top: 45%;
  left: 45%;
  margin-top: -50px;
  margin-left: -100px;
  color: white;
  #buttons {
    margin:0 auto;
    text-align: center;
  }
}
.btn-facebook {
  background-color: #3B5998;
  color:white;
  border:none;
  font-size:18px;
  font-family: sans-serif;
}
.btn-github {
  background-color: #3a3c3f;
  color:white;
  border:none;
  font-size:18px;
  font-family: sans-serif;
}


//feed page ------------------
#map {
  background-color: grey;
  height: 600px;
  border: solid grey 2px;
  margin-top: 15px;
  // color: white;
}
// .markerpic {
//   height: 350px;
//   width: 350px;
// }


///rocks show page-----------------------------

.comment {
  display: inline;
}

////new rock page---------------------------
#uploadbackground {
background-image: linear-gradient(rgba(196, 196, 206, 0.8), rgba(196, 196, 206, 0.9)), url('/assets/images/hero.jpg');
background-position: center;
background-size: cover;
position:relative;
height: 90vh;
  label {
    font-size: 20px;
  }
}

.form-control {
  background-color: rgba(239, 240, 242, .7);
  &:hover {
    background-color: $hovercolor;
  }
  }



///users index------------------------------------
.rounded .float-left {
  margin:5px;
}

///navbar---------------
.navbar {
  background-color: $barscolor;
}
.navbar-light .navbar-nav .nav-link {

  color:white;
  font-size: 20px;
  &:hover {
    color:darkred;
  }
}
.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
  color: white;
  font-size: 30px;
  font-family:'Shrikhand', cursive;
  &:hover {
    color:darkred;
  }
}
//text for forms with white background-----------
.reg {
  color:$textcolor;
}

//footer ----------------

#footer {
  background-color: $barscolor;
  padding: 10px 0;
  text-align: center;
  color: white;
}
