

  <div class="hero-container">
    <h1 class="display-3">Rockstagram</h1>

<form method="POST" action="/login" class= "login">
  <div>
    <label for="email">Email</label>
    <input class = "input" type="text" name="email" id="email" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input class = "input" type="password" name="password" id="password" required>
  </div>

  <button class="btn btn-secondary">Login</button>


<form method="GET" action="/register">
  <button class="btn btn-secondary">Join Rockstagram</button>

</div>
</div>
</form>
