<nav>
  <% include ../partials/navbar %>
</nav>

<div class = "container">
<div class = "row">
<% users.forEach((user) => { %>
<div class= "col-sm-6">
<a href="/users/<%= user.id %>">
<h1><%= user.username %></h1></a>
<img class="rounded float-left" src="<%= user.profileImageSRC %>" alt="<%= user.profileImageSRC %>"><br>
</div>

<% }) %>
</div>
</div>
